
<div class="home-page">
    <div class="welcome-text">
      <p class="greeting">Welcome</p>
      <h1>Best Learning Opportunities</h1>
      <p class="description">Our goal is to make online education work for everyone</p>
      <div class="buttons">
        <a href="#" class="btn join-us">Join Us</a>
        <a href="#" class="btn learn-more">Learn More</a>
      </div>
    </div>
    <div class="image-container">
      <img src="../../assets/hero-cover-1.png" alt="Student">
    </div>
  </div>
  